/assets/favicon/icons
/assets/media/tenants/*/users/
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/ISINSTALLED
/storage/app/backup-scheduler-heartbeat.json
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/logs/*
/vendor
!assets/vendor/
.env
.env.*
!.env.example
!.env.*.example
!.env.production.template
.env.backup
*.pem
*.p12
*.pfx
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_*
